body:hover > #trailer {
  opacity: 1;
}

#trailer {
    height: 20px;
    width: 20px;
    background-color: white;
    border-radius: 10px;
    position: fixed;
    left: 0px;
    top: 0px;
    z-index: 98;
    pointer-events: none;
    opacity: 0;
    transition: opacity 500ms ease;
    display: grid;
    place-items: center;
}

#trailer:not([data-type=""]) > #trailer-icon {
  opacity: 1;
}

#trailer-icon {
  font-size: 6px;
  line-height: 4px;
  
  opacity: 0;
  transition: opacity 400ms ease;
}

.interactable {
  background-position: center 50%;
  background-size: 50%;
}

.transition{
  transition: background-size 400ms ease, opacity 400ms ease;
}

.interactable:hover {
  background-size: 50%;
  opacity: 0.8;
}